apiVersion: apps/v1
kind: Deployment
metadata:
  name: query-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: query-service
  template:
    metadata:
      labels:
        app: query-service
    spec:
      containers:
        - name: query-service
          image: your-registry/query-service:latest
          ports:
            - containerPort: 8083
          # TODO: wire env vars, probes, resources, and imagePullPolicy.
