apiVersion: batch/v1
kind: Job
metadata:
  name: ollama-pull-model
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: pull-model
          image: curlimages/curl:8.7.1
          command:
            - /bin/sh
            - -c
            - |
              curl -sS http://ollama:11434/api/pull -d '{"name":"embeddinggemma"}'
