apiVersion: batch/v1
kind: Job
metadata:
  name: solr-init-collection
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init-collection
          image: solr:9.4
          command:
            - /bin/sh
            - -c
            - |
              # TODO: set shards/replicas via env vars and make idempotent.
              solr zk upconfig -n hybrid_conf -d /opt/solr/server/solr/configsets/_default/conf -z zookeeper:2181 || true
              solr create_collection -c hybrid_core -shards 1 -replicationFactor 1 -z zookeeper:2181 || true
